.custom-modal-enter {
    opacity: 0;
}
.custom-modal-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.custom-modal-exit {
    opacity: 1;
}
.custom-modal-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}