.u-background-primary-blue {
  background-color: $ocean-I;
}
.u-background-primary-light-blue {
  background-color: $sky-I;
}

.u-background-white {
  background-color: $white;
}
.u-background-red {
  background-color: $strawberry-I;
}

.u-background-light-grey {
  background-color: $tiramisoo;
}

.u-background-melo-grey {
  background-color: $vanilla;
}
.u-background-black {
  background-color: black;
}
.u-background-medium-grey {
  background-color: $cement;
}

.u-background-dark-grey {
  background-color: $smoke;
}

.u-background-darkest-grey {
  background-color: $pollution;
}

.u-background-green {
  background-color: $jungle-I;
}
