.u-fullHeight{
  height: 100%;
}

.u-fullWidth{
  width: 100%;
}

.u-width30{
  width: 30px;
}
.u-height30{
  height: 30px;
}
.u-width40{
  width: 40px;
}

.u-width60{
  width: 60px;
}

.u-width70{
  width: 70px;
}

.u-width200{
  width: 200px;
}

.u-width230{
  width: 230px;
}

.u-width250{
  width: 250px;
}

.u-width790{
  width: 790px;
}

.u-width70-percent{
  width: 70%;
}

.u-maxWidth-330{
  max-width: 330px;
}

.h-14vh{
  height: 14vh;
}

.u-w-auto{
  width: auto !important;
}