@font-face {
  font-family: "IranSans";
  src: url('../assets/fonts/IRANSansWeb.ttf') format('truetype'),
  url('../assets/fonts/IRANSansWeb.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazir";
  src: url('https://hs3-cf.behtarino.com/static/fonts/Vazir.ttf') format('truetype'),
  url('https://hs3-cf.behtarino.com/static/fonts/Vazir.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gandom";
  src: url('https://hs3-cf.behtarino.com/static/fonts/Gandom.ttf') format('truetype'),
  url('https://hs3-cf.behtarino.com/static/fonts/Gandom.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Parastoo";
  src: url('https://hs3-cf.behtarino.com/static/fonts/Parastoo.ttf') format('truetype'),
  url('https://hs3-cf.behtarino.com/static/fonts/Parastoo.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sahel";
  src: url('https://hs3-cf.behtarino.com/static/fonts/Sahel.ttf') format('truetype'),
  url('https://hs3-cf.behtarino.com/static/fonts/Sahel.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Samim";
  src: url('https://hs3-cf.behtarino.com/static/fonts/Samim.ttf') format('truetype'),
  url('https://hs3-cf.behtarino.com/static/fonts/Samim.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tanha";
  src: url('https://hs3-cf.behtarino.com/static/fonts/Tanha.ttf') format('truetype'),
  url('https://hs3-cf.behtarino.com/static/fonts/Tanha.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "XMYekan";
  src: url('https://hs3-cf.behtarino.com/static/fonts/XMYekan.ttf') format('truetype'),
  url('https://hs3-cf.behtarino.com/static/fonts/XMYekan.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}
