$ocean-I: #0050ff;
$ocean-II: #3373ff;
$ocean-III: #6696ff;

$sky-I: #00bef0;
$sky-II: #33cbf4;
$sky-III: #66d7f5;

$jungle-I: #00c896;
$jungle-II: #33d4ab;
$jungle-III: #66dfc0;

$strawberry-I: #ff0038;
$strawberry-II: #fe3360;
$strawberry-III: #ff6688;

$peach-I: #ff5c39;
$peach-II: #ff7e61;
$peach-III: #ff9d88;

$coal: #001e2d;
$night: #00283c;
$graphite: #335363;
$pollution: #667e8a;
$smoke: #98a9b1;
$cement: #ccd4d7;
$dust: #e0e5e8;
$tiramisoo: #f0f2f3;
$vanilla: #fafbfb;

$white: #ffffff;
