.radio-container {
  display: block;
  position: relative;
  padding-right: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  right: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-checkmark {
  position: absolute;
  top: 2px;
  right: 0;
  height: 20px;
  width: 20px;
  border: 2px solid #98a9b1;
  border-radius: 50%;
}


/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-checkmark {
  background-color: white;
  border: 2px solid #0050FF;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.radio-checkmark{
  .after{
    content: "";
    position: absolute;
    display: none;
  }
}
/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-checkmark:after {
  display: block;
}
.radio-container input:checked ~ .radio-checkmark{
  .after{
    display: block;
  }
}

/* Style the indicator (dot/circle) */
.radio-container .radio-checkmark:after {
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #0050FF;
}
.radio-checkmark{
  .after{
    z-index: 400;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}
